<ion-view title="History" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-arrow-dropdown"> Whole30</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="history-list1">
      <ion-item class="item-icon-left" id="history-list-item1">
        <i class="icon ion-checkmark-circled"></i>LARABAR - Apple Pie</ion-item>
      <ion-item class="item-icon-left" id="history-list-item2">
        <i class="icon ion-close-circled"></i>Cliff Bar - Chocoloate Brownie</ion-item>
    </ion-list>
  </ion-content>
</ion-view>