<ion-view title="Non-Compliant-Item" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/mrj9WnHTrqPYpXnKLdpt_Clif_Bar_Chocolate_Brownie-1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="nonCompliantItem-heading2" style="color:#000000;">Cliff Bar - Chocolate Brownie</h3>
    <h5 id="nonCompliantItem-heading4" style="color:#000000;">Ingredients</h5>
    <div id="nonCompliantItem-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Organic Roasted Soybeans, Rice Flour, Dried Cane Syrup, Unsweetened Chocolate, Cocoa, Organic Soy Flour, Organic High Oleic Sunflower Oil, Organic Oat Fiber, Alkalized Cocoa, Natural Flavors, Cocoa Butter, Sea Salt, Barley Malt Extract, Soy Lecithin.</p>
    </div>
  </ion-content>
</ion-view>