<ion-view title="Suggest" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="suggest-form2" class="list">
      <label class="item item-input item-stacked-label" id="suggest-input3" name="removeIngredient">
        <span class="input-label">Ingredient to Remove</span>
        <input type="text" placeholder="Type Ingredient to Remove">
      </label>
    </form>
    <button id="suggest-button7" class="button button-positive button-block">Submit Ingredient</button>
  </ion-content>
</ion-view>